In [2]:
from supabase import create_client, Client
con: Client = create_client("https://fovylruopxoebpbwsqby.supabase.co", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvdnlscnVvcHhvZWJwYndzcWJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE3NzI3MjQsImV4cCI6MjA1NzM0ODcyNH0.BFjjbxIxm_d9D34hXmuXKz6OxdAV2_kKmBSB_1Lzios")

In [21]:
cur = con

resp = (cur.table('user_model_chat')
        .select('username, model_name, msg_text.count()')
        .execute()).data

resp_lst = []
for i in resp:
    resp_lst.append(tuple(i.values()))
resp_lst.sort(key=lambda a: a[2], reverse = True)
resp_lst

[('amir', 'ami6ra', 24), ('amir', 'amira', 16), ('mhmd211', 'Alice', 6)]

In [ ]:
cur = con

resp = (cur.table('user_model_chat')
        .select('username, model_name, datetime.max()').execute()).data

resp_lst = []
for i in resp:
    resp_lst.append(tuple(i.values()))
resp_lst.sort(key=lambda a: a[2], reverse = True)

resp_lst_cut = []
for i in range(0,min(5,len(resp_lst))):
    resp_lst_cut.append(resp_lst[i])
resp_lst_cut

[('amir', 'ami6ra', '2025-04-08T20:24:35.792584'),
 ('amir', 'amira', '2025-04-08T20:18:43.673324'),
 ('mhmd211', 'Alice', '2025-04-08T19:51:05.310537')]

In [ ]:
cur = con

resp = (cur.table('user_model_chat')
        .select('username, model_name, datetime.max()').execute()).data

resp_lst = []
for i in resp:
    resp_lst.append(tuple(i.values()))
resp_lst.sort(key=lambda a: a[2])

resp_lst_cut = []
for i in range(0,min(5,len(resp_lst))):
    resp_lst_cut.append(resp_lst[i])
resp_lst_cut

[('mhmd211', 'Alice', '2025-04-08T19:51:05.310537'), ('amir', 'amira', '2025-04-08T20:18:43.673324'), ('amir', 'ami6ra', '2025-04-08T20:24:35.792584')]

[('mhmd211', 'Alice', '2025-04-08T19:51:05.310537'),
 ('amir', 'amira', '2025-04-08T20:18:43.673324'),
 ('amir', 'ami6ra', '2025-04-08T20:24:35.792584')]

In [1]:
cur = con

resp = (cur.table('user_model_chat')
           .select('model_name, msg_text.count()')
           .execute()).data

resp_lst = []
for i in resp:
    resp_lst.append(tuple(i.values()))

resp_lst.sort(key=lambda a: a[1], reverse = True)

resp_lst_cut = []
for i in range(0,min(5,len(resp_lst))):
    resp_lst_cut.append(resp_lst[i])

resp_lst_cut

NameError: name 'con' is not defined

In [1]:
from supabaseprojdb import db
db.admin_get_most_model('mhmd13579')

Database Initiated

[('Alice', 3)]